body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', monospace;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.active-button:hover {
  background-color: #27368f;
  cursor: pointer;
}